{
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react"
      ],
      "ignore": [
        "build/**/*"
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "chrome": 59
            },
            "modules": false
          }
        ],
        "react"
      ],
      "ignore": [
        "build/**/*"
      ]
    }
  }
}