{
  "presets": [
    [
      "es2015",
      {
        "loose": true,
        "modules": false
      }
    ],
    "react"
  ],
  "ignore": [
    "build/**/*"
  ],
  "plugins": [
    // "transform-async-to-generator"
  ]
}