doctype html
html
    head
        meta(charset="utf-8")
        meta(httpEquiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title 希尔特国家地理
        link(href="/styles/main.css", rel="stylesheet" type="text/css")
        link(rel="stylesheet", href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap"+(development ? '' : '.min')+".css")
    body
        div#root !{html}
        script.
            window.__INITIAL_STATE__ = !{JSON.stringify(state)}
        script(src="//cdn.bootcss.com/babel-polyfill/6.20.0/polyfill"+(development ? '' : '.min')+".js")
        script(src="//cdn.bootcss.com/react/15.3.1/react"+(development ? '' : '.min')+".js")
        script(src="//cdn.bootcss.com/mobx/2.7.0/mobx.umd"+(development ? '' : '.min')+".js")
        script(src="/static/index.js")
