doctype html
html
    head
        title 希尔特国家地理
    body
        #root !{html}
        script.
            window.__INITIAL_STATE__ = !{JSON.stringify(state)}
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.13.0/polyfill"+(development ? '' : '.min')+".js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react"+(development ? '' : '.min')+".js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/mobx/2.7.0/mobx.umd"+(development ? '' : '.min')+".js")
        script(src="/static/index.js")
